**If you want to run this notebook, please make a copy and run the copy**

---

In [ ]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from google.colab import drive
import pandas as pd
import numpy as np
import math

# Newer dataset: datasetFinal

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving datasetFinal.csv to datasetFinal.csv

In [ ]:
df = pd.read_csv('datasetFinal.csv')

In [ ]:
df

,ID,Statement,Label,barely true,false count,half true count,mostly true,pants on fire,nouns,verbs,prepositions,Sentences
0,0,Over the past five years the federal governmen...,True,1.0,2.0,1.0,1.0,0.0,6,1,2,1
1,1,Says that Tennessee law requires that schools ...,True,0.0,0.0,0.0,0.0,0.0,11,2,6,1
2,2,Donald Trump is against marriage equality. He ...,True,0.0,0.0,0.0,0.0,0.0,4,0,1,2
3,3,Says the unemployment rate for college graduat...,True,12.0,16.0,13.0,7.0,5.0,6,4,3,1
4,4,"Each year, 18,000 people die in America becaus...",True,40.0,29.0,69.0,76.0,7.0,5,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3047,1671,"During the Bush administration, you actually h...",True,1.0,0.0,0.0,0.0,0.0,6,0,4,1
3048,1672,Nearly half of Hispanic voters in Arizona's la...,True,40.0,29.0,69.0,76.0,7.0,6,2,3,1
3049,1673,"Since the Affordable Care Act passed, 90 perce...",True,0.0,0.0,0.0,0.0,0.0,7,1,3,1
3050,1674,Debt has almost doubled in Austin under Gov. P...,True,2.0,3.0,5.0,7.0,3.0,4,0,2,2
3051,1675,"For the first time since the Korean War, total...",True,0.0,0.0,0.0,0.0,0.0,6,1,4,1

In [ ]:
'''trainingDataGDrivePath = '/content/gdrive/MyDrive/ML Assignment/datasetFinal.csv'
df = pd.read_csv(trainingDataGDrivePath)
df'''

"trainingDataGDrivePath = '/content/gdrive/MyDrive/ML Assignment/datasetFinal.csv'\ndf = pd.read_csv(trainingDataGDrivePath)\ndf"

In [ ]:
# https://towardsdatascience.com/a-python-beginners-look-at-loc-part-2-bddef7dfa7f2
df.loc[df['Label'] == True, ['Label']] = 1
df.loc[(df['Label'] == False), ['Label']] = 0
df

,ID,Statement,Label,barely true,false count,half true count,mostly true,pants on fire,nouns,verbs,prepositions,Sentences
0,0,Over the past five years the federal governmen...,1,1.0,2.0,1.0,1.0,0.0,6,1,2,1
1,1,Says that Tennessee law requires that schools ...,1,0.0,0.0,0.0,0.0,0.0,11,2,6,1
2,2,Donald Trump is against marriage equality. He ...,1,0.0,0.0,0.0,0.0,0.0,4,0,1,2
3,3,Says the unemployment rate for college graduat...,1,12.0,16.0,13.0,7.0,5.0,6,4,3,1
4,4,"Each year, 18,000 people die in America becaus...",1,40.0,29.0,69.0,76.0,7.0,5,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3047,1671,"During the Bush administration, you actually h...",1,1.0,0.0,0.0,0.0,0.0,6,0,4,1
3048,1672,Nearly half of Hispanic voters in Arizona's la...,1,40.0,29.0,69.0,76.0,7.0,6,2,3,1
3049,1673,"Since the Affordable Care Act passed, 90 perce...",1,0.0,0.0,0.0,0.0,0.0,7,1,3,1
3050,1674,Debt has almost doubled in Austin under Gov. P...,1,2.0,3.0,5.0,7.0,3.0,4,0,2,2
3051,1675,"For the first time since the Korean War, total...",1,0.0,0.0,0.0,0.0,0.0,6,1,4,1

# Model train & testing.

In [ ]:
df.iloc[1:,2:]

,Label,barely true,false count,half true count,mostly true,pants on fire,nouns,verbs,prepositions,Sentences
1,1,0.0,0.0,0.0,0.0,0.0,11,2,6,1
2,1,0.0,0.0,0.0,0.0,0.0,4,0,1,2
3,1,12.0,16.0,13.0,7.0,5.0,6,4,3,1
4,1,40.0,29.0,69.0,76.0,7.0,5,1,2,1
5,1,2.0,2.0,4.0,2.0,0.0,5,1,1,1
...,...,...,...,...,...,...,...,...,...,...
3047,1,1.0,0.0,0.0,0.0,0.0,6,0,4,1
3048,1,40.0,29.0,69.0,76.0,7.0,6,2,3,1
3049,1,0.0,0.0,0.0,0.0,0.0,7,1,3,1
3050,1,2.0,3.0,5.0,7.0,3.0,4,0,2,2
3051,1,0.0,0.0,0.0,0.0,0.0,6,1,4,1

In [ ]:
# dataset = loadtxt(df.iloc[1:,2:].to_numpy(), delimiter=",", unpack=True)
dataset = df.iloc[1:,2:].to_numpy()

In [ ]:
# split data into X and y
X = dataset[:,1:]
Y = dataset[:,0]

In [ ]:
X

array([[0.0, 0.0, 0.0, ..., 2, 6, 1],
       [0.0, 0.0, 0.0, ..., 0, 1, 2],
       [12.0, 16.0, 13.0, ..., 4, 3, 1],
       ...,
       [0.0, 0.0, 0.0, ..., 1, 3, 1],
       [2.0, 3.0, 5.0, ..., 0, 2, 2],
       [0.0, 0.0, 0.0, ..., 1, 4, 1]], dtype=object)

In [ ]:
X.shape

(3051, 9)

In [ ]:
Y

array([1, 1, 1, ..., 1, 1, 1], dtype=object)

In [ ]:
pd.DataFrame(X.T)

,0,1,2,3,4,5,6,7,8,9,...,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050
0,0.0,0.0,12.0,40.0,2.0,8.0,0.0,1.0,1.0,0.0,...,0.0,0.0,34.0,5.0,2.0,1.0,40.0,0.0,2.0,0.0
1,0.0,0.0,16.0,29.0,2.0,10.0,0.0,3.0,0.0,1.0,...,0.0,2.0,32.0,5.0,1.0,0.0,29.0,0.0,3.0,0.0
2,0.0,0.0,13.0,69.0,4.0,12.0,0.0,4.0,0.0,0.0,...,0.0,2.0,58.0,11.0,2.0,0.0,69.0,0.0,5.0,0.0
3,0.0,0.0,7.0,76.0,2.0,5.0,0.0,6.0,1.0,1.0,...,0.0,3.0,33.0,8.0,5.0,0.0,76.0,0.0,7.0,0.0
4,0.0,0.0,5.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,19.0,3.0,1.0,0.0,7.0,0.0,3.0,0.0
5,11,4,6,5,5,7,5,5,9,6,...,5,6,6,4,7,6,6,7,4,6
6,2,0,4,1,1,3,1,3,4,0,...,1,4,1,0,2,0,2,1,0,1
7,6,1,3,2,1,3,0,5,3,0,...,3,3,1,1,1,4,3,3,2,4
8,1,2,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,1

In [ ]:
# split data into train and test sets
test_size = 0.25
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size)

In [ ]:
from collections import Counter
Counter(y_test)

Counter({0: 256, 1: 507})

In [ ]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier()

In [ ]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [ ]:
y_test = np.array([0 if (math.isnan(value)) else value for value in y_test])
y_test.astype('int64')
y_test.dtype

dtype('int64')

In [ ]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", (accuracy * 100.0), "%")

Accuracy: 75.36041939711664 %